.order-info-section {
    padding: 0;
  }
  
  .form-banner {
    width: 100%;
  }
  
  .order-nav {
    margin: 1rem 0;
  }
  
  .order-nav a {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
  }
  
  .order-nav a.active-link {
    color: #ce2829;
  }
  
  .order-title {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 1rem;
  }
  
  .price-section {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .price {
    color: #333;
  }
  
  .rating, .review-count {
    text-align: right;
  }
  
  .description {
    font-size: 1rem;
    color: #666;
    line-height: 1.5rem;
  }
  
  .form-section {
    margin-top: 3rem;
  }
  
  .order-form-container {
    padding: 2rem;
  }
  
  .Toastify__toast-container {
    z-index: 9999;
  }
  
