/* Genel düzenlemeler */
.extra-header {
  margin-bottom: 20px;
  text-align: center;
}

.extra-header h3 {
  font-size: 1.5em;
  color: #333;
}

.extra-header p {
  font-size: 0.9em;
  color: #777;
}

.extra-header .error {
  color: red;
  font-size: 0.8em;
}

/* Malzeme seçenekleri düzeni */
.extra-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.option {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.option label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9em;
  color: #333;
}

.option input[type="checkbox"] {
  transform: scale(1.2);
  accent-color: #007bff; /* İsteğe bağlı olarak değiştirilebilir */
}
