.extra-container {
  margin-top: 20px;
  color: #3f3f3f;
  font-family: "Barlow", sans-serif;
}

.extra-header {
  margin-bottom: 10px;
}

.extra-header h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.extra-header p {
  font-size: 0.9rem;
  color: #737373;
  line-height: 1.6;
}

.error {
  color: #dc2626;
  font-size: 0.9rem;
}

.extra-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.extra-item {
  width: 30%;
  font-size: 0.9rem;
  color: #737373;
}

.extra-item input[type="checkbox"] {
  accent-color: #2563eb;
  margin-right: 5px;
}
