.order-form {
    padding: 20px;
    background-color: #faf7f2;
    border-radius: 10px;
  }
  
  .order-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .order-summary button {
    background-color: #fdc913;
    border: none;
    padding: 10px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
  
  .order-summary span {
    padding: 10px;
    font-size: 1.2rem;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  textarea,
  input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  