.receiving-orders {
  background-color: #b91c1c;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
}

.orders-container {
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header h1 {
  font-family: "Londrina Solid", cursive;
  font-size: 50px;
  text-align: center;
}

.order-status {
  text-align: center;
}

.order-tagline {
  font-family: "Satisfy", cursive;
  font-size: 35px;
  color: #fbbf24;
  margin-bottom: -20px;
}

.order-title {
  font-family: "Bebas Neue", cursive;
  font-size: 90px;
  letter-spacing: 0.1em;
}

.order-summary h2 {
  font-family: "Barlow", sans-serif;
  font-size: 29px;
  text-align: center;
}

.details {
  margin: 20px auto;
  text-align: left;
  width: 60%;
}

.details p {
  margin: 5px 0;
}

.details span {
  color: #ffffff;
}

.order-total {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.summary-box {
  width: 35%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
}

.summary-box h3 {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.cost-detail {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
